In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("student_grades.csv")

In [4]:
df.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90

In [5]:
import pandas as pd
df = pd.read_csv("clean_gdp.csv")
df.head(1000000000)

    date  level-current  level-chained  change-current  change-chained
0   1948          274.8         2020.0            -0.7            -0.6
1   1949          272.8         2008.9            10.0             8.7
2   1950          300.2         2184.0            15.7             8.0
3   1951          347.3         2360.0             5.9             4.1
4   1952          367.7         2456.1             6.0             4.7
..   ...            ...            ...             ...             ...
64  2012        16155.3        15354.6             3.6             1.8
65  2013        16691.5        15612.2             4.4             2.5
66  2014        17427.6        16013.3             4.0             2.9
67  2015        18120.7        16471.5             2.7             1.6
68  2016        18624.5        16716.2             4.2             2.2

[69 rows x 5 columns]

## <a href="https://www.labs.cognitiveclass.ai"/>Cognitive Class</a>

# <a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>

# Header 1

# H1
## H2
### H3
#### H4
##### H5
###### H6

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

<dl>
  <dt>Definition list</dt>
  <dd>Is something people use sometimes.</dd>

  <dt>Markdown in HTML</dt>
  <dd>Does *not* work **very** well. Use HTML <em>tags</em>.</dd>
</dl>

Three or more...

---

Hyphens

***

Asterisks

___

Underscores

<a href="http://www.youtube.com/watch?feature=player_embedded&v=YOUTUBE_VIDEO_ID_HERE
" target="_blank"><img src="https://www.youtube.com/watch?v=kWCwvcEghnI" 
alt="Youtube embeeded video is HERE" width="240" height="180" border="10" /></a>

Here's our logo (hover to see the title text):

Inline-style: 
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

Reference-style: 
![alt text][logo]

[logo]: https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 2"