In [128]:
import ibm_db

In [113]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net"
dsn_uid = "fgp79276"
dsn_pwd = "pd4@ll6ntj8rqtbd"    
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_port = "50000"                
dsn_protocol = "TCPIP"

In [114]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=fgp79276;PWD=pd4@ll6ntj8rqtbd;

In [115]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  fgp79276 on host:  dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net

In [116]:
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [117]:
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.01.0404
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

In [129]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [140]:
%sql ibm_db_sa://fgp79276:pd4%40ll6ntj8rqtbd@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: fgp79276@BLUDB'

In [159]:
import pandas
chicago_crime_data = pandas.read_csv('https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv')

In [164]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://fgp79276:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('0'),)]

In [174]:
### Problem 1

##### How many rows are in the dataset?

In [175]:
533

533

In [177]:
%sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10;

 * ibm_db_sa://fgp79276:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "LIMIT" was found following "M CHICAGO_CRIME_DATA".  Expected tokens may include:  "<table_expr>".  SQLSTATE=42601 SQLCODE=-104
[SQL: SELECT COUNT * FROM CHICAGO_CRIME_DATA LIMIT 10;]
(Background on this error at: http://sqlalche.me/e/f405)

In [180]:
%sql SELECT * FROM CHICAGO_CRIME_DATA WHERE ARREST = "TRUE";

 * ibm_db_sa://fgp79276:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

In [179]:
163

163

In [183]:
%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS WHERE COMMUNITY_AREA_NUMBER = "%B";

 * ibm_db_sa://fgp79276:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "%B" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME = "%B";]
(Background on this error at: http://sqlalche.me/e/f405)

In [184]:
Rufus M Hitch Elementary School

SyntaxError: invalid syntax (<ipython-input-184-e2500d18077f>, line 1)

In [ ]:
%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS WHERE COMMUNITY_AREA_NUMBER BETWEEN = '10' AND '15' AND HEALTHY_SCHOOL_CERTIFIED = 'Yes';

In [185]:
Rufus M Hitch Elementary School

SyntaxError: invalid syntax (<ipython-input-185-319ab7e57f11>, line 1)

In [186]:
%sql SELECT AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://fgp79276:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [195]:
%sql SELECT MAX(COLLEGE_ENROLLMENT), COMMUNITY_AREA_NAME FROM CHICAGO_PUBLIC_SCHOOLS DESC LIMIT 5;

 * ibm_db_sa://fgp79276:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0119N  An expression starting with "COMMUNITY_AREA_NAME" specified in a SELECT clause, HAVING clause, or ORDER BY clause is not specified in the GROUP BY clause or it is in a SELECT clause, HAVING clause, or ORDER BY clause with a column function and no GROUP BY clause is specified.  SQLSTATE=42803 SQLCODE=-119
[SQL: SELECT MAX(COLLEGE_ENROLLMENT), COMMUNITY_AREA_NAME FROM CHICAGO_PUBLIC_SCHOOLS DESC LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/f405)

In [196]:
NORTH CENTER
ARCHER HEIGHTS
NORWOOD PARK
BRIGHTON PARK
IRVING PARK

SyntaxError: invalid syntax (<ipython-input-196-fae699a1fc6b>, line 1)